{
  "openapi": "3.0.1",
  "info": {
    "title": "Integrators Production API",
    "description": "Endpoint for public API & 3rd party integrations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.poap.tech"
    }
  ],
  "paths": {
    "/actions/claim-delivery-v2": {
      "post": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queue_uid": {
                      "type": "string",
                      "description": "The UUID used to check the status of the POAP minting."
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "uri": "https://${stageVariables.poapServerInternalDomain}/actions/claim-delivery-v2",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The collector's Ethereum address or ENS.",
                    "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
                  },
                  "id": {
                    "type": "number",
                    "description": "The numeric ID of the delivery."
                  }
                },
                "required": [
                  "id",
                  "address"
                ]
              },
              "example": {
                "address": "string",
                "id": 1
              }
            }
          }
        },
        "summary": "/actions/claim-delivery-v2",
        "description": "This endpoint is used to claim a POAP from a delivery.",
        "tags": [
          "Delivery"
        ],
        "operationId": "POST:/actions/claim-delivery-v2",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/actions/claim-qr": {
      "post": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The numeric ID of the claim.",
                      "example": 13894783
                    },
                    "qr_hash": {
                      "type": "string",
                      "maxLength": 6,
                      "minLength": 6,
                      "description": "A six-digit alphanumeric code used to claim a POAP. For example, in the mint-link https://app.poap.xyz/claim/2abwt1, the `qr_hash` is the code located at the end URL: 2abwt1.",
                      "example": "2abwt1"
                    },
                    "transaction_request_id": {
                      "type": "number",
                      "description": "The Transaction Request ID that can be used to identify the status of the transaction request using GET /transaction-requests/id.",
                      "example": 29
                    },
                    "event_id": {
                      "type": "number",
                      "description": "The numeric ID of the event.",
                      "example": 16947
                    },
                    "beneficiary": {
                      "type": "string",
                      "description": "The Etherem address or email the collector claimed with. If ENS was used to claim then this will show the resolved Ethereum address.",
                      "example": "0xf6b6f07862a02c85628b3a9688beae07fea9c863"
                    },
                    "user_input": {
                      "type": "string",
                      "description": "The Ethereum address, ENS, or email the collector claimed with.",
                      "example": "poap.eth"
                    },
                    "signer": {
                      "type": "string",
                      "description": "The POAP-owned address that sent the transaction to mint the POAP.",
                      "example": "0xc33557d52ed424A5B7014F06e4D98C4Bfc71eF59"
                    },
                    "claimed": {
                      "type": "boolean",
                      "description": "Whether the claim code has been used or not.",
                      "example": true
                    },
                    "claimed_date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The datetime when the POAP was claimed.",
                      "example": "2022-07-12T14:22:45.278Z"
                    },
                    "created_date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The datetime when the claim codes were created.",
                      "example": "2022-07-12T14:22:45.278Z"
                    },
                    "is_active": {
                      "type": "boolean",
                      "description": "Whether the claim is active or not.",
                      "example": true
                    },
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "The numeric ID of the event.",
                          "example": 16947
                        },
                        "fancy_id": {
                          "type": "string",
                          "description": "A string that uniquely identifies the event. This is generated based on the event name at event creation and cannot be edited.",
                          "example": "example-event-2022",
                          "maxLength": 256
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the event.",
                          "example": "Example event 2022",
                          "maxLength": 256
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the event. Max length is 1500 characters.",
                          "example": "This is an example event description",
                          "maxLength": 1500
                        },
                        "city": {
                          "type": "string",
                          "description": "The city where event takes place. This field is optional for virtual events.",
                          "example": "Buenos Aires",
                          "maxLength": 256
                        },
                        "country": {
                          "type": "string",
                          "description": "The country where the event takes place. This field is optional for virtual events.",
                          "example": "Argentina",
                          "maxLength": 256
                        },
                        "event_url": {
                          "type": "string",
                          "description": "The URL of a website the attendees should visit.",
                          "example": "https://poap.xyz"
                        },
                        "image_url": {
                          "type": "string",
                          "description": "This provides the URL of the POAP image.\nTo request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the URL. For example, \"https://poap.xyz/image.png?size=small\".",
                          "example": "https://poap.xyz/image.png"
                        },
                        "animation_url": {
                          "type": "string",
                          "description": "The URL of the POAP animation."
                        },
                        "year": {
                          "type": "number",
                          "description": "The year the event took place.",
                          "example": 2022
                        },
                        "start_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The start date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "07-18-2022"
                        },
                        "end_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The end date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "07-20-2022"
                        },
                        "timezone": {
                          "type": "string",
                          "description": "The timezone of the event.",
                          "example": "America/New_York"
                        },
                        "expiry_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The limit date for POAPs to be claimable for the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "08-31-2022"
                        },
                        "from_admin": {
                          "type": "boolean",
                          "description": "Whether the event was created by a POAP admin.",
                          "example": true
                        },
                        "virtual_event": {
                          "type": "boolean",
                          "description": "Whether the event is virtual.",
                          "default": false,
                          "example": true
                        },
                        "event_template_id": {
                          "type": "number",
                          "description": "The ID of the event template for POAP’s claim page (https://app.poap.xyz/claim/xxxxxx).",
                          "default": 1,
                          "example": 1
                        },
                        "private_event": {
                          "type": "boolean",
                          "description": "If true, the event is private and will be filtered out in POAP’s frontend. Test events should be made private.",
                          "default": false,
                          "example": true
                        }
                      }
                    },
                    "delegated_mint": {
                      "type": "boolean",
                      "description": "This is a deprecated property.",
                      "example": false
                    },
                    "delegated_signed_message": {
                      "type": "string",
                      "description": "This is a deprecated property.",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "uri": "https://${stageVariables.poapServerInternalDomain}/actions/claim-qr",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The collector’s Ethereum address, ENS, or email.",
                    "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
                  },
                  "qr_hash": {
                    "type": "string",
                    "maxLength": 6,
                    "minLength": 6,
                    "description": "A six-digit alphanumeric code used to claim a POAP. For example, in the mint-link https://app.poap.xyz/claim/2abwt1, the `qr_hash` is the code located at the end URL: 2abwt1.",
                    "example": "2abwt1"
                  },
                  "secret": {
                    "type": "string",
                    "description": "An authentication code that’s unique to each individual mint-link. This code can be retrieved with the GET /actions/claim-qr endpoint."
                  },
                  "sendEmail": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "address",
                  "qr_hash",
                  "secret"
                ]
              },
              "example": {
                "address": "string",
                "qr_hash": "string",
                "secret": "string",
                "sendEmail": true
              }
            }
          }
        },
        "summary": "/actions/claim-qr",
        "description": "This endpoint is used to claim a POAP given a previously created mint-link. The claim status of the mint-link can be retrieved with the GET /actions/claim-qr endpoint.",
        "tags": [
          "Claims"
        ],
        "operationId": "POST:/actions/claim-qr",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "auth0-request": [],
            "api_key": []
          },
          {
            "api_key": []
          },
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The numeric ID of the claim.",
                      "example": 13894783
                    },
                    "qr_hash": {
                      "type": "string",
                      "maxLength": 6,
                      "minLength": 6,
                      "description": "A six-digit alphanumeric code used to claim a POAP. For example, in the mint-link https://app.poap.xyz/claim/2abwt1, the `qr_hash` is the code located at the end URL: 2abwt1.",
                      "example": "2abwt1"
                    },
                    "tx_hash": {
                      "type": "string",
                      "description": "The Gnosis Chain transaction hash.",
                      "example": "0x238b1f8235e7c41e4a4b1bf8e90c9e152d2a772936554090b07865137a39428b"
                    },
                    "event_id": {
                      "type": "number",
                      "description": "The numeric ID of the event.",
                      "example": 16947
                    },
                    "beneficiary": {
                      "type": "string",
                      "description": "The Etherem address or email the collector claimed with. If ENS was used to claim then this will show the resolved Ethereum address.",
                      "example": "0xf6b6f07862a02c85628b3a9688beae07fea9c863"
                    },
                    "user_input": {
                      "type": "string",
                      "description": "The Ethereum address, ENS, or email the collector claimed with.",
                      "example": "poap.eth"
                    },
                    "signer": {
                      "type": "string",
                      "description": "The POAP-owned address that sent the transaction to mint the POAP.",
                      "example": "0xc33557d52ed424A5B7014F06e4D98C4Bfc71eF59"
                    },
                    "claimed": {
                      "type": "boolean",
                      "description": "Whether the claim code has been used or not.",
                      "example": true
                    },
                    "claimed_date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The datetime when the POAP was claimed.",
                      "example": "2022-07-12T14:22:45.278Z"
                    },
                    "created_date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The datetime when the claim codes were created.",
                      "example": "2022-07-12T14:22:45.278Z"
                    },
                    "is_active": {
                      "type": "boolean",
                      "description": "Whether the claim is active or not.",
                      "example": true
                    },
                    "secret": {
                      "type": "string",
                      "description": "An authentication code that’s unique to each individual mint-link. This code can be retrieved with the GET /actions/claim-qr endpoint."
                    },
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "The numeric ID of the event.",
                          "example": 16947
                        },
                        "fancy_id": {
                          "type": "string",
                          "description": "A string that uniquely identifies the event. This is generated based on the event name at event creation and cannot be edited.",
                          "example": "example-event-2022",
                          "maxLength": 256
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the event.",
                          "example": "Example event 2022",
                          "maxLength": 256
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the event. Max length is 1500 characters.",
                          "example": "This is an example event description",
                          "maxLength": 1500
                        },
                        "city": {
                          "type": "string",
                          "description": "The city where event takes place. This field is optional for virtual events.",
                          "example": "Buenos Aires",
                          "maxLength": 256
                        },
                        "country": {
                          "type": "string",
                          "description": "The country where the event takes place. This field is optional for virtual events.",
                          "example": "Argentina",
                          "maxLength": 256
                        },
                        "event_url": {
                          "type": "string",
                          "description": "The URL of a website the attendees should visit.",
                          "example": "https://poap.xyz"
                        },
                        "image_url": {
                          "type": "string",
                          "description": "This provides the URL of the POAP image.\nTo request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the URL. For example, \"https://poap.xyz/image.png?size=small\".",
                          "example": "https://poap.xyz/image.png"
                        },
                        "animation_url": {
                          "type": "string",
                          "description": "The URL of the POAP animation."
                        },
                        "year": {
                          "type": "number",
                          "description": "The year the event took place.",
                          "example": 2022
                        },
                        "start_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The start date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "07-18-2022"
                        },
                        "end_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The end date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "07-20-2022"
                        },
                        "timezone": {
                          "type": "string",
                          "description": "The timezone of the event.",
                          "example": "America/New_York"
                        },
                        "expiry_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The limit date for POAPs to be claimable for the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "08-31-2022"
                        },
                        "from_admin": {
                          "type": "boolean",
                          "description": "Whether the event was created by a POAP admin.",
                          "example": true
                        },
                        "virtual_event": {
                          "type": "boolean",
                          "description": "Whether the event is virtual.",
                          "default": false,
                          "example": true
                        },
                        "event_template_id": {
                          "type": "number",
                          "description": "The ID of the event template for POAP’s claim page (https://app.poap.xyz/claim/xxxxxx).",
                          "default": 1,
                          "example": 1
                        },
                        "private_event": {
                          "type": "boolean",
                          "description": "If true, the event is private and will be filtered out in POAP’s frontend. Test events should be made private.",
                          "default": false,
                          "example": true
                        }
                      }
                    },
                    "event_template": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        },
                        "title_image": {
                          "type": "string"
                        },
                        "title_link": {
                          "type": "string"
                        },
                        "header_link_text": {
                          "type": "string"
                        },
                        "header_link_url": {
                          "type": "string"
                        },
                        "header_color": {
                          "type": "string"
                        },
                        "header_link_color": {
                          "type": "string"
                        },
                        "main_color": {
                          "type": "string"
                        },
                        "footer_color": {
                          "type": "string"
                        },
                        "left_image_url": {
                          "type": "string"
                        },
                        "left_image_link": {
                          "type": "string"
                        },
                        "right_image_url": {
                          "type": "string"
                        },
                        "right_image_link": {
                          "type": "string"
                        },
                        "mobile_image_url": {
                          "type": "string"
                        },
                        "mobile_image_link": {
                          "type": "string"
                        },
                        "footer_icon": {
                          "type": "string"
                        },
                        "created_date": {
                          "type": "string"
                        },
                        "is_active": {
                          "type": "boolean"
                        }
                      }
                    },
                    "tx_status": {
                      "type": "string",
                      "description": "That status of the minting transaction: waiting_tx, pending, passed, failed, bumped",
                      "example": "pending"
                    },
                    "delegated_mint": {
                      "type": "boolean",
                      "description": "This is a deprecated property.",
                      "example": false
                    },
                    "delegated_signed_message": {
                      "type": "string",
                      "description": "This is a deprecated property.",
                      "example": null
                    },
                    "result": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "token": {
                          "type": "number",
                          "description": "The token id."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/actions/claim-qr",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [
          {
            "name": "qr_hash",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 6,
              "minLength": 6,
              "description": "A six-digit alphanumeric code used to claim a POAP. For example, in the mint-link https://app.poap.xyz/claim/2abwt1, the `qr_hash` is the code located at the end URL: 2abwt1.",
              "example": "2abwt1"
            },
            "description": "A six-digit alphanumeric code used to claim a POAP. For example, in the mint-link https://app.poap.xyz/claim/2abwt1, the `qr_hash` is the code located at the end URL: 2abwt1."
          }
        ],
        "summary": "/actions/claim-qr",
        "description": "This endpoint can be used to look up information on an individual mint-link including the claim status, `secret` code, collector (if claimed), and event information.",
        "tags": [
          "Claims"
        ],
        "operationId": "GET:/actions/claim-qr",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "auth0-request": [],
            "api_key": []
          },
          {
            "api_key": []
          },
          {
            "api_key": []
          }
        ]
      }
    },
    "/actions/scan/{address}/{eventId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "The numeric ID of the event.",
                          "example": 16947
                        },
                        "fancy_id": {
                          "type": "string",
                          "description": "A string that uniquely identifies the event. This is generated based on the event name at event creation and cannot be edited.",
                          "example": "example-event-2022",
                          "maxLength": 256
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the event.",
                          "example": "Example event 2022",
                          "maxLength": 256
                        },
                        "event_url": {
                          "type": "string",
                          "description": "The URL of a website the attendees should visit.",
                          "example": "https://poap.xyz"
                        },
                        "image_url": {
                          "type": "string",
                          "description": "This provides the URL of the POAP image.\nTo request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the URL. For example, \"https://poap.xyz/image.png?size=small\".",
                          "example": "https://poap.xyz/image.png"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country where the event takes place. This field is optional for virtual events.",
                          "example": "Argentina",
                          "maxLength": 256
                        },
                        "city": {
                          "type": "string",
                          "description": "The city where event takes place. This field is optional for virtual events.",
                          "example": "Buenos Aires",
                          "maxLength": 256
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the event. Max length is 1500 characters.",
                          "example": "This is an example event description",
                          "maxLength": 1500
                        },
                        "year": {
                          "type": "number",
                          "description": "The year the event took place.",
                          "example": 2022
                        },
                        "start_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The start date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "07-18-2022"
                        },
                        "end_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The end date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "07-20-2022"
                        },
                        "timezone": {
                          "type": "string",
                          "description": "The timezone of the event.",
                          "example": "America/New_York"
                        },
                        "expiry_date": {
                          "type": "string",
                          "format": "date",
                          "description": "The limit date for POAPs to be claimable for the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                          "example": "08-31-2022"
                        }
                      }
                    },
                    "tokenId": {
                      "type": "string",
                      "description": "The unique POAP token ID.",
                      "example": "3010642"
                    },
                    "owner": {
                      "type": "string",
                      "description": "The POAP owner's address.",
                      "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/actions/scan/{address}/{eventId}",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId",
            "integration.request.path.address": "method.request.path.address",
            "integration.request.path.eventId": "method.request.path.eventId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "address",
            "description": "The collector's Ethereum address or ENS."
          },
          {
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "eventId",
            "description": "The numeric ID of the event."
          }
        ],
        "summary": "/actions/scan/{address}/{eventId}",
        "description": "This endpoint returns a list of POAPs held by an address and the event details, token ID, chain, and owner address for each.\n          A 200 status code with an empty list is returned when the address does not hold any POAPs.\n          If you already know the event ID, you can use GET /actions/scan/{address}/{eventID} to check if an address holds that POAP.\n          Note: For large collections of POAPs, it may take a while to load the artwork, since average size of the original artwork can be ~2MB per item (we allow upto 4MB). For solving this, we've developed a way to offer compressed artwork. To use this, you can request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the image_url field value. For example, \"https://poap.xyz/image.png?size=small\".\n          For more options with artwork sizes, you can also use extra small, small, medium, large, and extra large file sizes, in addition to the original size.\n          xsmall = 64x64px\n          small = 128x128px\n          medium = 256x256px\n          large = 512x512px\n          xlarge = 1024x1024px",
        "tags": [
          "Tokens"
        ],
        "operationId": "GET:/actions/scan/*/*",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/actions/scan/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "event": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "The numeric ID of the event.",
                            "example": 16947
                          },
                          "fancy_id": {
                            "type": "string",
                            "description": "A string that uniquely identifies the event. This is generated based on the event name at event creation and cannot be edited.",
                            "example": "example-event-2022",
                            "maxLength": 256
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the event.",
                            "example": "Example event 2022",
                            "maxLength": 256
                          },
                          "event_url": {
                            "type": "string",
                            "description": "The URL of a website the attendees should visit.",
                            "example": "https://poap.xyz"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "This provides the URL of the POAP image.\nTo request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the URL. For example, \"https://poap.xyz/image.png?size=small\".",
                            "example": "https://poap.xyz/image.png"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country where the event takes place. This field is optional for virtual events.",
                            "example": "Argentina",
                            "maxLength": 256
                          },
                          "city": {
                            "type": "string",
                            "description": "The city where event takes place. This field is optional for virtual events.",
                            "example": "Buenos Aires",
                            "maxLength": 256
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the event. Max length is 1500 characters.",
                            "example": "This is an example event description",
                            "maxLength": 1500
                          },
                          "year": {
                            "type": "number",
                            "description": "The year the event took place.",
                            "example": 2022
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The start date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                            "example": "07-18-2022"
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The end date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                            "example": "07-20-2022"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The timezone of the event.",
                            "example": "America/New_York"
                          },
                          "expiry_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The limit date for POAPs to be claimable for the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                            "example": "08-31-2022"
                          },
                          "supply": {
                            "type": "number",
                            "description": "The total amount of POAPs minted."
                          },
                          "drop_image": {
                            "type": "object",
                            "description": "Users may request one of two types of images available. `dropImage` can be specified by `type` as `ORIGINAL` or `CROP` to receive desired image type.",
                            "properties": {
                              "public_id": {
                                "type": "string",
                                "description": "The ID of the drop image",
                                "example": "fc101b69-ca2c-41f4-b65a-09be1ce1de31"
                              },
                              "drop_id": {
                                "type": "number",
                                "description": "The ID of the drop",
                                "example": 44129
                              },
                              "gateways": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "image_id": {
                                      "type": "string",
                                      "description": "The ID of the drop image",
                                      "example": "fc101b69-ca2c-41f4-b65a-09be1ce1de31"
                                    },
                                    "filename": {
                                      "type": "string",
                                      "description": "The filename of the drop image",
                                      "example": "b57f0556-06ec-4267-8acd-dfa3bd93ed2f.jpeg"
                                    },
                                    "mime_type": {
                                      "type": "string",
                                      "description": "The mime type of the drop image",
                                      "example": "image/jpeg"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "The URL of the drop image",
                                      "example": "https://assets.poap.xyz/b57f0556-06ec-4267-8acd-dfa3bd93e423.jpeg"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "The type of the drop image",
                                      "enum": [
                                        "CROP",
                                        "ORIGINAL"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "tokenId": {
                        "type": "string",
                        "description": "The unique POAP token ID. An empty string will be returned for POAPs assigned to an email."
                      },
                      "owner": {
                        "type": "string",
                        "description": "The POAP owner's address.",
                        "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
                      },
                      "chain": {
                        "type": "string",
                        "description": "The chain the POAP is currently on: mainnet or xdai."
                      },
                      "created": {
                        "type": "string",
                        "description": "The time the POAP was minted in GnosisChain."
                      },
                      "migrated": {
                        "type": "string",
                        "description": "The time the POAP was migrated to Ethereum Mainnet."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/actions/scan/{address}",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId",
            "integration.request.path.address": "method.request.path.address"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "address",
            "description": "The Ethereum address, ENS, or email."
          }
        ],
        "summary": "/actions/scan/{address}",
        "description": "This endpoint returns a list of POAPs held by an address and the event details, token ID, chain, and owner address for each.\n          A 200 status code with an empty list is returned when the address does not hold any POAPs.\n          If you already know the event ID, you can use GET /actions/scan/{address}/{eventID} to check if an address holds that POAP.\n          Note: For large collections of POAPs, it may take a while to load the artwork, since average size of the original artwork can be ~2MB per item (we allow upto 4MB). For solving this, we've developed a way to offer compressed artwork. To use this, you can request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the image_url field value. For example, \"https://poap.xyz/image.png?size=small\".\n          For more options with artwork sizes, you can also use extra small, small, medium, large, and extra large file sizes, in addition to the original size.\n          xsmall = 64x64px\n          small = 128x128px\n          medium = 256x256px\n          large = 512x512px\n          xlarge = 1024x1024px",
        "tags": [
          "Tokens"
        ],
        "operationId": "GET:/actions/scan/*",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/deliveries": {
      "post": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The numeric ID of the delivery."
                    },
                    "slug": {
                      "type": "string",
                      "description": "The unique identifying part of the delivery link: https://poap.delivery/{slug}"
                    },
                    "card_title": {
                      "type": "string",
                      "description": "The delivery title used in the card-level view on https://poap.delivery/."
                    },
                    "card_text": {
                      "type": "string",
                      "description": "The delivery description used in the card-level view on https://poap.delivery/."
                    },
                    "metadata_title": {
                      "type": "string",
                      "description": "The delivery metadata title used in social card previews when sharing the delivery link."
                    },
                    "metadata_description": {
                      "type": "string",
                      "description": "The delivery metadata description used in social card previews when sharing the delivery link."
                    },
                    "page_title": {
                      "type": "string",
                      "description": "The delivery title used in the page-level view on https://poap.delivery/{slug}."
                    },
                    "page_title_image": {
                      "type": "string",
                      "description": "An image URL for the delivery image used alongside the title in the page-level view (https://poap.delivery/{slug})."
                    },
                    "page_text": {
                      "type": "string",
                      "description": "The delivery description used in the page-level view on https://poap.delivery/{slug}."
                    },
                    "event_ids": {
                      "type": "string",
                      "pattern": "^[1-9]{1}[0-9]*$",
                      "description": "The numeric ID of the drop to be delivered."
                    },
                    "image": {
                      "type": "string",
                      "description": "An image URL for the delivery image used in the card-level view on the deliveries homepage (https://poap.delivery/) as well as the page-level view (https://poap.delivery/{slug})."
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Whether a delivery is currently active or not. If false, the delivery will not be claimable via website or API."
                    },
                    "claimed_addresses": {
                      "type": "number",
                      "description": "The number of addresses that claimed the delivery."
                    },
                    "total_addresses": {
                      "type": "number",
                      "description": "The total number of addresses for delivery."
                    },
                    "private": {
                      "type": "boolean",
                      "description": "Whether a delivery is private or not. If false, the delivery will not be shown on the delivery homepage (https://poap.delivery/), but it will still be visible on the individual delivery page (https://poap.delivery/{slug}) if the slug is known."
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "uri": "https://${stageVariables.poapServerInternalDomain}/deliveries",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "The unique identifying part of the delivery link: https://poap.delivery/{slug}"
                  },
                  "card_title": {
                    "type": "string",
                    "description": "The delivery title used in the card-level view on https://poap.delivery/."
                  },
                  "card_text": {
                    "type": "string",
                    "description": "The delivery description used in the card-level view on https://poap.delivery/."
                  },
                  "page_title": {
                    "type": "string",
                    "description": "The delivery title used in the page-level view on https://poap.delivery/{slug}."
                  },
                  "page_text": {
                    "type": "string",
                    "description": "The delivery description used in the page-level view on https://poap.delivery/{slug}."
                  },
                  "event_ids": {
                    "type": "string",
                    "pattern": "^[1-9]{1}[0-9]*$",
                    "description": "The numeric ID of the drop to be delivered."
                  },
                  "secret_codes": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "A six-digit numeric key defined when the event was created and is used to authorize performing certain actions on an event. Note: It's also call \"Edit Code\"",
                    "example": "234789"
                  },
                  "image": {
                    "type": "string",
                    "description": "An image URL for the delivery image used in the card-level view on the deliveries homepage (https://poap.delivery/) as well as the page-level view (https://poap.delivery/{slug})."
                  },
                  "page_title_image": {
                    "type": "string",
                    "description": "An image URL for the delivery image used alongside the title in the page-level view (https://poap.delivery/{slug})."
                  },
                  "metadata_title": {
                    "type": "string",
                    "description": "The delivery metadata title used in social card previews when sharing the delivery link."
                  },
                  "metadata_description": {
                    "type": "string",
                    "description": "The delivery metadata description used in social card previews when sharing the delivery link."
                  },
                  "addresses": {
                    "type": "array",
                    "minItems": 1,
                    "description": "The list of addresses for delivery.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "The collector's Ethereum address or ENS.",
                          "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "slug",
                  "card_title",
                  "card_text",
                  "page_title",
                  "page_title_image",
                  "page_text",
                  "event_ids",
                  "secret_codes",
                  "image",
                  "metadata_title",
                  "metadata_description",
                  "addresses"
                ]
              },
              "example": {
                "slug": "string",
                "card_title": "string",
                "card_text": "string",
                "page_title": "string",
                "page_text": "string",
                "event_ids": "string",
                "secret_codes": "string",
                "image": "string",
                "page_title_image": "string",
                "metadata_title": "string",
                "metadata_description": "string",
                "addresses": []
              }
            }
          }
        },
        "summary": "/deliveries",
        "description": "This endpoint is used to create a new delivery.",
        "tags": [
          "Delivery"
        ],
        "operationId": "POST:/deliveries",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {},
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "number",
                      "description": "The amount of results per response (default = 10, max = 1000).",
                      "minimum": 0,
                      "maximum": 1000,
                      "default": 10
                    },
                    "offset": {
                      "type": "number",
                      "description": "The offset to paginate the results.",
                      "default": 0,
                      "minimum": 0
                    },
                    "total": {
                      "type": "number",
                      "description": "The total number of results to paginate."
                    },
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "The numeric ID of the delivery."
                          },
                          "slug": {
                            "type": "string",
                            "description": "The unique identifying part of the delivery link: https://poap.delivery/{slug}"
                          },
                          "card_title": {
                            "type": "string",
                            "description": "The delivery title used in the card-level view on https://poap.delivery/."
                          },
                          "card_text": {
                            "type": "string",
                            "description": "The delivery description used in the card-level view on https://poap.delivery/."
                          },
                          "metadata_title": {
                            "type": "string",
                            "description": "The delivery metadata title used in social card previews when sharing the delivery link."
                          },
                          "metadata_description": {
                            "type": "string",
                            "description": "The delivery metadata description used in social card previews when sharing the delivery link."
                          },
                          "page_title": {
                            "type": "string",
                            "description": "The delivery title used in the page-level view on https://poap.delivery/{slug}."
                          },
                          "page_title_image": {
                            "type": "string",
                            "description": "An image URL for the delivery image used alongside the title in the page-level view (https://poap.delivery/{slug})."
                          },
                          "page_text": {
                            "type": "string",
                            "description": "The delivery description used in the page-level view on https://poap.delivery/{slug}."
                          },
                          "event_ids": {
                            "type": "string",
                            "pattern": "^[1-9]{1}[0-9]*$",
                            "description": "The numeric ID of the drop to be delivered."
                          },
                          "image": {
                            "type": "string",
                            "description": "An image URL for the delivery image used in the card-level view on the deliveries homepage (https://poap.delivery/) as well as the page-level view (https://poap.delivery/{slug})."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether a delivery is currently active or not. If false, the delivery will not be claimable via website or API."
                          },
                          "claimed_addresses": {
                            "type": "number",
                            "description": "The number of addresses that claimed the delivery."
                          },
                          "total_addresses": {
                            "type": "number",
                            "description": "The total number of addresses for delivery."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether a delivery is private or not. If false, the delivery will not be shown on the delivery homepage (https://poap.delivery/), but it will still be visible on the individual delivery page (https://poap.delivery/{slug}) if the slug is known."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/deliveries",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "The amount of results per response (default = 10, max = 1000).",
              "minimum": 0,
              "maximum": 1000,
              "default": 10
            },
            "description": "The amount of results per response (default = 10, max = 1000)."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "The offset to paginate the results.",
              "default": 0,
              "minimum": 0
            },
            "description": "The offset to paginate the results."
          },
          {
            "name": "event_id",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the event.",
              "example": 16947
            },
            "description": "The numeric ID of the event."
          },
          {
            "name": "approved",
            "in": "query",
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ],
              "description": "Whether the delivery has been approved or not."
            },
            "description": "Whether the delivery has been approved or not."
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The collector's Ethereum address or ENS.",
              "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
            },
            "description": "The collector's Ethereum address or ENS."
          }
        ],
        "summary": "/deliveries",
        "description": "This endpoint returns a paginated list of all deliveries in descending order by ID.",
        "tags": [
          "Delivery"
        ],
        "operationId": "GET:/deliveries",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/delivery/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "The numeric ID of the delivery."
                    },
                    "slug": {
                      "type": "string",
                      "description": "The unique identifying part of the delivery link: https://poap.delivery/{slug}"
                    },
                    "card_title": {
                      "type": "string",
                      "description": "The delivery title used in the card-level view on https://poap.delivery/."
                    },
                    "card_text": {
                      "type": "string",
                      "description": "The delivery description used in the card-level view on https://poap.delivery/."
                    },
                    "metadata_title": {
                      "type": "string",
                      "description": "The delivery metadata title used in social card previews when sharing the delivery link."
                    },
                    "metadata_description": {
                      "type": "string",
                      "description": "The delivery metadata description used in social card previews when sharing the delivery link."
                    },
                    "page_title": {
                      "type": "string",
                      "description": "The delivery title used in the page-level view on https://poap.delivery/{slug}."
                    },
                    "page_title_image": {
                      "type": "string",
                      "description": "An image URL for the delivery image used alongside the title in the page-level view (https://poap.delivery/{slug})."
                    },
                    "page_text": {
                      "type": "string",
                      "description": "The delivery description used in the page-level view on https://poap.delivery/{slug}."
                    },
                    "event_ids": {
                      "type": "string",
                      "pattern": "^[1-9]{1}[0-9]*$",
                      "description": "The numeric ID of the drop to be delivered."
                    },
                    "image": {
                      "type": "string",
                      "description": "An image URL for the delivery image used in the card-level view on the deliveries homepage (https://poap.delivery/) as well as the page-level view (https://poap.delivery/{slug})."
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Whether a delivery is currently active or not. If false, the delivery will not be claimable via website or API."
                    },
                    "claimed_addresses": {
                      "type": "number",
                      "description": "The number of addresses that claimed the delivery."
                    },
                    "total_addresses": {
                      "type": "number",
                      "description": "The total number of addresses for delivery."
                    },
                    "private": {
                      "type": "boolean",
                      "description": "Whether a delivery is private or not. If false, the delivery will not be shown on the delivery homepage (https://poap.delivery/), but it will still be visible on the individual delivery page (https://poap.delivery/{slug}) if the slug is known."
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/delivery/{id}",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId",
            "integration.request.path.id": "method.request.path.id"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "id",
            "description": "The numeric ID of the delivery."
          }
        ],
        "summary": "/delivery/{id}",
        "description": "This endpoint returns delivery information by delivery ID.",
        "tags": [
          "Delivery"
        ],
        "operationId": "GET:/delivery/*",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/delivery/slug/{slug}": {
      "get": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "Whether a delivery is currently active or not. If false, the delivery will not be claimable via website or API."
                    },
                    "card_text": {
                      "type": "string",
                      "description": "The delivery description used in the card-level view on https://poap.delivery/."
                    },
                    "card_title": {
                      "type": "string",
                      "description": "The delivery title used in the card-level view on https://poap.delivery/."
                    },
                    "claimed_addresses": {
                      "type": "number",
                      "description": "The number of addresses that claimed the delivery."
                    },
                    "event_ids": {
                      "type": "string",
                      "pattern": "^[1-9]{1}[0-9]*$",
                      "description": "The numeric ID of the drop to be delivered."
                    },
                    "id": {
                      "type": "number",
                      "description": "The numeric ID of the delivery."
                    },
                    "slug": {
                      "type": "string",
                      "description": "The unique identifying part of the delivery link: https://poap.delivery/{slug}"
                    },
                    "image": {
                      "type": "string",
                      "description": "An image URL for the delivery image used in the card-level view on the deliveries homepage (https://poap.delivery/) as well as the page-level view (https://poap.delivery/{slug})."
                    },
                    "metadata_title": {
                      "type": "string",
                      "description": "The delivery metadata title used in social card previews when sharing the delivery link."
                    },
                    "metadata_description": {
                      "type": "string",
                      "description": "The delivery metadata description used in social card previews when sharing the delivery link."
                    },
                    "page_text": {
                      "type": "string",
                      "description": "The delivery description used in the page-level view on https://poap.delivery/{slug}."
                    },
                    "page_title": {
                      "type": "string",
                      "description": "The delivery title used in the page-level view on https://poap.delivery/{slug}."
                    },
                    "page_title_image": {
                      "type": "string",
                      "description": "An image URL for the delivery image used alongside the title in the page-level view (https://poap.delivery/{slug})."
                    },
                    "total_addresses": {
                      "type": "number",
                      "description": "The total number of addresses for delivery."
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/delivery/slug/{slug}",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId",
            "integration.request.path.slug": "method.request.path.slug"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "slug",
            "description": "The unique identifying part of the delivery link: https://poap.delivery/{slug}"
          }
        ],
        "summary": "/delivery/slug/{slug}",
        "description": "This endpoint returns a delivery by it URL safe slug.",
        "tags": [
          "Delivery"
        ],
        "operationId": "GET:/delivery/slug/*",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/delivery-addresses/{id}/address/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The collector's Ethereum address or ENS.",
                      "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
                    },
                    "claimed": {
                      "type": "boolean",
                      "description": "Whether the address claimed the delivery or not."
                    },
                    "event_ids": {
                      "type": "string",
                      "pattern": "^[1-9]{1}[0-9]*$",
                      "description": "The numeric ID of the drop to be delivered."
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "The numeric ID of the event.",
                            "example": 16947
                          },
                          "fancy_id": {
                            "type": "string",
                            "description": "A string that uniquely identifies the event. This is generated based on the event name at event creation and cannot be edited.",
                            "example": "example-event-2022",
                            "maxLength": 256
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the event.",
                            "example": "Example event 2022",
                            "maxLength": 256
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the event. Max length is 1500 characters.",
                            "example": "This is an example event description",
                            "maxLength": 1500
                          },
                          "city": {
                            "type": "string",
                            "description": "The city where event takes place. This field is optional for virtual events.",
                            "example": "Buenos Aires",
                            "maxLength": 256
                          },
                          "country": {
                            "type": "string",
                            "description": "The country where the event takes place. This field is optional for virtual events.",
                            "example": "Argentina",
                            "maxLength": 256
                          },
                          "event_url": {
                            "type": "string",
                            "description": "The URL of a website the attendees should visit.",
                            "example": "https://poap.xyz"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "This provides the URL of the POAP image.\nTo request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the URL. For example, \"https://poap.xyz/image.png?size=small\".",
                            "example": "https://poap.xyz/image.png"
                          },
                          "animation_url": {
                            "type": "string",
                            "description": "The URL of the POAP animation."
                          },
                          "year": {
                            "type": "number",
                            "description": "The year the event took place.",
                            "example": 2022
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The start date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                            "example": "07-18-2022"
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The end date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                            "example": "07-20-2022"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The timezone of the event.",
                            "example": "America/New_York"
                          },
                          "expiry_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The limit date for POAPs to be claimable for the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                            "example": "08-31-2022"
                          },
                          "from_admin": {
                            "type": "boolean",
                            "description": "Whether the event was created by a POAP admin.",
                            "example": true
                          },
                          "virtual_event": {
                            "type": "boolean",
                            "description": "Whether the event is virtual.",
                            "default": false,
                            "example": true
                          },
                          "event_template_id": {
                            "type": "number",
                            "description": "The ID of the event template for POAP’s claim page (https://app.poap.xyz/claim/xxxxxx).",
                            "default": 1,
                            "example": 1
                          },
                          "private_event": {
                            "type": "boolean",
                            "description": "If true, the event is private and will be filtered out in POAP’s frontend. Test events should be made private.",
                            "default": false,
                            "example": true
                          }
                        }
                      },
                      "description": "An array with the events that the address can claim."
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/delivery-addresses/{id}/address/{address}",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId",
            "integration.request.path.id": "method.request.path.id",
            "integration.request.path.address": "method.request.path.address"
          },
          "passthroughBehavior": "when_no_match",
          "connectionId": "rgv50m",
          "connectionType": "VPC_LINK",
          "type": "http_proxy",
          "contentHandling": "CONVERT_TO_TEXT"
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "id",
            "description": "The numeric ID of the delivery."
          },
          {
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "address",
            "description": "The collector's Ethereum address or ENS."
          }
        ],
        "summary": "/delivery-addresses/{id}/address/{address}",
        "description": "This endpoint returns the delivery claim status for an address along with the event details.",
        "tags": [
          "Delivery"
        ],
        "operationId": "GET:/delivery-addresses/*/address/*",
        "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/delivery-addresses/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Succeed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The collector's Ethereum address or ENS.",
                            "example": "0x19C234364C70E45287B631BAA04e42BA58173f54"
                          },
                          "claimed": {
                            "type": "boolean",
                            "description": "Whether the address claimed the delivery or not."
                          },
                          "event_ids": {
                            "type": "string",
                            "pattern": "^[1-9]{1}[0-9]*$",
                            "description": "The numeric ID of the drop to be delivered."
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "description": "The numeric ID of the event.",
                                  "example": 16947
                                },
                                "fancy_id": {
                                  "type": "string",
                                  "description": "A string that uniquely identifies the event. This is generated based on the event name at event creation and cannot be edited.",
                                  "example": "example-event-2022",
                                  "maxLength": 256
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the event.",
                                  "example": "Example event 2022",
                                  "maxLength": 256
                                },
                                "description": {
                                  "type": "string",
                                  "description": "The description of the event. Max length is 1500 characters.",
                                  "example": "This is an example event description",
                                  "maxLength": 1500
                                },
                                "city": {
                                  "type": "string",
                                  "description": "The city where event takes place. This field is optional for virtual events.",
                                  "example": "Buenos Aires",
                                  "maxLength": 256
                                },
                                "country": {
                                  "type": "string",
                                  "description": "The country where the event takes place. This field is optional for virtual events.",
                                  "example": "Argentina",
                                  "maxLength": 256
                                },
                                "event_url": {
                                  "type": "string",
                                  "description": "The URL of a website the attendees should visit.",
                                  "example": "https://poap.xyz"
                                },
                                "image_url": {
                                  "type": "string",
                                  "description": "This provides the URL of the POAP image.\nTo request a smaller, lower resolution version of the image, simply append \"?size=small\" to the end of the URL. For example, \"https://poap.xyz/image.png?size=small\".",
                                  "example": "https://poap.xyz/image.png"
                                },
                                "animation_url": {
                                  "type": "string",
                                  "description": "The URL of the POAP animation."
                                },
                                "year": {
                                  "type": "number",
                                  "description": "The year the event took place.",
                                  "example": 2022
                                },
                                "start_date": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "The start date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                                  "example": "07-18-2022"
                                },
                                "end_date": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "The end date of the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                                  "example": "07-20-2022"
                                },
                                "timezone": {
                                  "type": "string",
                                  "description": "The timezone of the event.",
                                  "example": "America/New_York"
                                },
                                "expiry_date": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "The limit date for POAPs to be claimable for the event. Must be in YYYY-MM-DD or MM-DD-YYYY format.",
                                  "example": "08-31-2022"
                                },
                                "from_admin": {
                                  "type": "boolean",
                                  "description": "Whether the event was created by a POAP admin.",
                                  "example": true
                                },
                                "virtual_event": {
                                  "type": "boolean",
                                  "description": "Whether the event is virtual.",
                                  "default": false,
                                  "example": true
                                },
                                "event_template_id": {
                                  "type": "number",
                                  "description": "The ID of the event template for POAP’s claim page (https://app.poap.xyz/claim/xxxxxx).",
                                  "default": 1,
                                  "example": 1
                                },
                                "private_event": {
                                  "type": "boolean",
                                  "description": "If true, the event is private and will be filtered out in POAP’s frontend. Test events should be made private.",
                                  "default": false,
                                  "example": true
                                }
                              }
                            },
                            "description": "An array with the events that the address can claim."
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "number",
                      "description": "The total number of results to paginate."
                    },
                    "offset": {
                      "type": "number",
                      "description": "The offset to paginate the results.",
                      "default": 0,
                      "minimum": 0
                    },
                    "limit": {
                      "type": "number",
                      "description": "The amount of results per response (default = 10, max = 1000).",
                      "minimum": 0,
                      "maximum": 1000,
                      "default": 10
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "uri": "https://${stageVariables.poapServerInternalDomain}/delivery-addresses/{id}",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.header.x-poap-gateway": "stageVariables.serverApiGwKey",
            "integration.request.header.requestid": "context.requestId",
            "integration.request.header.x-gateway-source": "'poap-public-api'",
            "integration.request.header.apiKeyId": "context.identity.apiKeyId",
            "integration.request.header.auth0-consumer-id": "context.authorizer.consumerId",
            "integration.request.path.id": "method.request.path.id"
          },
[...]
